@import url("speechbubbles.css");

.yui-skin-sam .yui-layout .yui-layout-hd { border:0; }
.yui-skin-sam .yui-layout .yui-layout-unit div.yui-layout-bd-nohd { border:0; }
.yui-skin-sam .yui-layout .yui-layout-unit div.yui-layout-bd { border:0; }
.yui-skin-sam .yui-layout .yui-layout-unit div.yui-layout-unit-right { background: white; }
.yui-skin-sam .yui-layout-unit-bottom  { background: #F2F2F2; }
.yui-skin-sam .yui-layout-unit-right { background: #eef2f8; }
.yui-skin-sam .yui-layout-unit-center { background: white; }
.yui-skin-sam .yui-layout-unit-top { background: #FFE39D; }
.yui-skin-sam .yui-layout .yui-layout-unit div.yui-layout-bd { background: transparent; }

#input-message {background:#FFFFFF url(input.png) repeat-x scroll 0 0;padding:0 9px;border: 1px solid #999;border-radius: 9px;-moz-border-radius: 9px;}
.mdl-chat-entry,
.mdl-chat-my-entry {clear:both;}
.sendertime {padding-top:15px;}

.chat-message .picture {vertical-align:middle;}

#chat-input-area,
#chat-input-area table.generaltable,
#chat-input-area table.generaltable td.cell {background: #92B3E8;border: 0;}
#chat-userlist {background: #E3E8F0;height: 100%;}
